<div >    
    {{#each games as |game|}}
        <div class="game-container">        
            <a href="/{{game.guid}}"style="text-decoration:none;"><h2 class="game-title">{{game.name}}</h2></a>
            {{#if game.deck}}
            <p>{{game.deck}}</p>            
            {{else}}
            {{{game.description}}}
            {{/if}}             
            <img src="{{game.image.medium_url}}" alt="Game image"/>               
        </div>
    {{/each}}    
</div>

